
p {
  margin-bottom: 1em;
  margin-left: 2em;
}

.q {
  font-size: 1.5em;

}
.a {
  margin-left: 3em;
}

form
{
  margin-left: 1em;

}
form input, form label {
  margin-bottom: 0.75em;
}
textarea {
  width: 80%;
  height: 10em;
}
